

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.img-fluid {
 max-width: 80%;
 height: auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.jumbo2{
	background-color: white;
	background-size: cover;
/*    background-image: url("/img/7K_karlLeaning2.jpeg"); */
    color: white;
	background-repeat: no-repeat;
    height: 100vh;
    background-position: 50%;
}

.jumbo3{
	background-size: cover;
    background-image: url("/img/earlyMorning.jpg");
	background-repeat: no-repeat;
    color: black;
    height: 50vh;
    background-position: 0%;
}

/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 30vh;
  left: 0px;
  font-size: 200%;
  width: 40%; /* Full width */
  background: rgba(0, 0, 0, 0.9); /* Black background with 0.5 opacity */
  color: white;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.anchor{
  display: block;
  height: 60px; /*same height as header*/
  margin-top: -60px; /*same height as header*/
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

.navbar a{
    font-family: Verdana !important;
    color: white !important;
}

.btn-xlarge {
    padding: 18px 28px;
    margin-top: 60vh;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

@media (min-width: 991px) and (max-width: 1400px) {
    .jumbo2 {
        background-position: 50%;
        height: 100vh;
    }
    .text-block{
        top: 30vh;
        width: 50%;
        font-size: 175%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbo2 {
        background-position: 50%;
        height: 100vh;
    }
    .text-block{
        top: 30vh;
        width: 50%;
        font-size: 150%;
    }
}

@media (max-width: 768px) {
    .jumbo2 {
        background-position: 50%;
        height: 100vh;
    }
    .text-block{
        top: 30vh;
        width: 60%;
        font-size: 125%;
    }
}
